html {
    padding: 0;
}

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    color: white;
    background-color: #1a237e; 
    padding-top: 20px;
    font-family: 'Roboto', sans-serif; 
    font-weight: bold;
    box-shadow: 0 20px 8px rgba(0, 0, 0, 0.1);
}

#sidebar a {
    color: #9caf88;
    text-decoration: none;
    display: block;
    padding: 10px;
    font-weight: normal; 
    text-align: center;
}

.logout-link h4{
color:#9caf88;
bottom: 0;
 position: fixed;
 text-decoration: underline;
 
 margin-left: 50px;
 margin-bottom: 100px;
}
.logout-link i{
    bottom: 0;
 position: fixed;
 margin-right: 30px;
 margin-bottom: 70px;
}



#sidebar img{
    width: 100px;
    height: 100px;
    left: 65px;
    top: 20px;  
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;  
    color: navy;  
}

body {
    font-family: 'Roboto', sans-serif;  
    background-color: #ffffff;  
    color: #000000; 
    margin: 0;
    padding: 20px;
}

.content-area {
    background-color: #ffffff; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

button, a.button {
    background-color: #9cbb7c; 
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-weight: bold;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

button:hover, a.button:hover {
    background-color: #7a9a5a; 
    cursor: pointer;
}

header, nav {
    background-color: navy; 
    color: white;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    
}

nav a {
    text-decoration: none;
    padding: 10px;
    margin-right: 10px;
}


.navbar{
    top: 0;
    position: fixed;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
  }
  
  .upload-section button{
    border-radius:20px;
    margin-right: 500px;
   margin-top: 20px; 
    font-size: 20px;
    padding: 30px 70px;
    
  }   
  .option-sections {   
    display: flex;
    margin-top: 250px;
    margin-right: 500px;
    gap: 550px; /* space between year/campus blocks */
  }
  
  .option-block button  {
    display: flex;
    flex-direction: column;
    padding: 45px 35px;
    font-size: 15px;
    
  }
  
  .option-block p {
    font-weight: bold;
    margin-bottom: 10px;
  }


  
  /* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    margin-left: 100px;
    background-color: #f1f1f1;
    z-index: 9;
    width: 750px;
    height: 500px;
    margin-top: -30px;
    border: #ececec 5px solid;
  }
  
 

  /* Styles for the upload buttons */
.form-popup label {
  text-align: center;
    display: block;
    background-color: #7a9a5a;
  color: white;
  padding: 15px 12px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  width: 250px;
  margin-bottom:10px;
  margin-left: 30px;
  opacity: 0.8;
  border-radius: 20px;
margin-top: 2px;
 
}
.form-popup .btn2 {
    text-align: center;
   display: block;
   background-color: #7a9a5a;
 color: white;
 padding: 8x 12px;
 border: none;
 cursor: pointer;
 width: 300px;
 height: 200px;
 margin-bottom:10px;
 margin-left: 100px;
 opacity: 0.8;
 border-radius: 40px;
 margin-top: 40px;

}
.form-popup .btn3 {
    text-align: center;
   display: block;
   background-color: #7a9a5a;
 color: white;
 padding: 8x 12px;
 border: none;
 cursor: pointer;
 width: 300px;
 margin-bottom:10px;
 margin-left: 200px;
 opacity: 0.8;
 border-radius: 20px;
 margin-top: 50px;
}
  
.form-popup .hidden{
    display: none;
}
.form-popup .btn-cancel{
    background-color: grey;
    padding: 10px 15px;
    margin-left: 650px;
    opacity: 0.5;
    margin-top: -4px;
}